*~
UR24B.depend
UR24B.layout
UncertRadio
*.exe
UR2_5/
UR2_5.tgz

build/
[fF]ort*
Glade.dat
linfout.txt
Glade-back.txt
MC_Tables.txt
MCplotfile.png
Report.txt
Report_units_check.txt
myddls.txt
vgltest.txt

*.mod
*.vscode
