.switch-menus {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.switch-menus > div.version-switch, .switch-menus > div.language-switch {
    display: inline-block;
    padding: .2em;
}

.switch-menus select {
    display: inline-block;
    margin-right: -2rem;
    padding-right: 2rem;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align-last: center;
    background: none;
    border: none;
    font-family: Georgia, serif;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch-menus select:hover, .switch-menus select:active, .switch-menus select:focus {
    background:  #EAEAEA;
    /* color: rgba(0, 0, 0, 0.5); */
}

.switch-menus select option {
    color: black;
}

.switch-menus > div:has(> select):after {
    display: inline-block;
    width: 1.5em;
    height: 100%;
    padding: .1em;
    content: "\25BC";
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
}
