name: continuous integration build and tests

on:
  workflow_dispatch:
  push:
    branches: [main, develop]
  pull_request:


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [release, debug]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and load image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: BUILD_TYPE=${{ matrix.build_type }}
          tags: uncertradio-${{ matrix.build_type }}
          load: true

      - name: Run tests
        id: run-tests
        run: |
          OUTPUT=$(docker run --rm uncertradio-${{ matrix.build_type }} \
                  bash -c "\
                      /app/install/bin/UncertRadio run_tests && \
                      echo '===== vgltest.txt =====' && \
                      cat ~/.local/share/UncertRadio/results/vgltest.txt && \
                      echo '===== end of vgltest.txt ====='\
                    " 2>&1)

          echo "$OUTPUT"

          if echo "$OUTPUT" | grep -q "BA-Test finished: no deviations!" && \
               echo "$OUTPUT" | grep -q "STOP 0"; then
            echo "Tests passed"
          else
            echo "some Tests failed, see logs"
            exit 1
          fi
